.frame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* background-color: black; */
}

.frame-menu {
    width: 480px;
    height: 75px;
    background-color: #FFA1A1;
    border-radius: 11px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.icon-custom {
    font-size: 45px;
    color: #ffff;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.icon-custom:hover {
    cursor: pointer;
    font-size: 45px;
    color: #ffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}